#header {
    background:   #4F4D53;
    height: 48px;
    width: 100%;

}

.login {
    border: 1px solid #E8BE02;
    color: #E8BE02;
    cursor: pointer;

   


}

 .signup {
    color: #fff;
   cursor: pointer;
}

form {
    background: #323034;
     input {
         color: #fff;
         border: none;
         border-radius: 0;
         background: #323034;
         height: 30px;
         
     }
 }
