 <!-- start header -->
 <header id="header"
 class="navbar  fixed-top d-flex justify-content-around flex-wrab     ">


 <img class="navbar-brand  " src="../assets/gtd_logo.png" alt="logo">

 <form class="form-inline">
     <img class="m-2" src="../assets/ic_search.png" alt="search">
     <input class="   p-2" type="search" placeholder="Search" aria-label="Search">
 </form>

 <div class="  d-flex justify-content-around flex-wrab  ">

     <div class="mr-2  p-1 pr-3 pl-3  login rounded-pill" (click) ="goToLogin()">Login</div>
     <div class="signup p-1" >Sign up</div>
 </div>

</header>





<!-- end  header  -->
